:root {
	--body-background-edge: white;
	--body-background: white;
	--menu-background: var(--sky);
	--menu-text: var(--dark-gray);
	--menu-text-hover: var(--watermelon);
	--table-header: var(--sky);
	
/* 	--body-background-edge: var(--neutral); */
/* 	--body-background: var(--neutral); */
/* 	--menu-background: var(--dark-gray); */
/* 	--menu-text: var(--sky); */
/* 	--menu-text-hover: var(--watermelon); */
/* 	--table-header: var(--sky); */
	
/* 	basik */
	--sky: #CAEBF2;
	--carbon: #A9A9A9;
	--watermelon: #FF3B3F;
	--neutral: #EFEFEF;
	--dark-gray: #252525;
}

html {
	font-size: 14px;
}

body {
	margin: 0;
	background-color: var(--body-background-edge);
}

#content-wrapper {
	height: auto;
	min-height: 1px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 10px;
	position: relative;
	text-align: left;
	max-width: 90%;
	background-color: var(--body-background);
}

h3 {
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-transform: uppercase;
}

h4 {
	padding-top: .5rem;
	padding-bottom: .5rem;
	text-transform: uppercase;
}

table {
	border-collapse: collapse;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

.table tbody tr:hover {
	background-color: var(--neutral);
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

table thead tr {
	background-color: var(--table-header);
}

.table th,
.table td {
	vertical-align: middle;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.my-border {
	border-width: 1px;
	border-style: solid;
	border-color: #8a9cff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px
}

.center {
	width: 30%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
}

.tabcontent {
	display: none;
}

a img, button img {
	height: 15px;
}

.hasReviewNote {
	background-color: #ffdddd;
}

.table tbody tr.hasReviewNote:hover {
	background-color: #ffdddd;
}

.table tbody.hasReviewNote:hover {
	background-color: #ffdddd;
}

.uppercase {
	text-transform: uppercase;
}

a.noneunderline {
	color: black;
	text-decoration: none;
}

.pull-left {
	float: left
}

.pull-right {
	float: right;
}

.small {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
}