:root {
	--menu-background: var(--sky);
	--menu-text: var(--dark-gray);
	--menu-text-hover: var(--watermelon);
	
/* 	--menu-background: var(--dark-gray); */
/* 	--menu-text: var(--sky); */
/* 	--menu-text-hover: var(--watermelon); */
	
/* 	basik */
	--sky: #CAEBF2;
	--carbon: #A9A9A9;
	--watermelon: #FF3B3F;
	--neutral: #EFEFEF;
	--dark-gray: #252525;
}

#menu-wrapper {
}

#menu {
	padding: 0rem 1rem;
	height: 41px;
	font-weight: bold;
	align-items: center;
}

.navbar-nav ul li a, .dropdown-menu a {
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

.navbar {
	
	background-color: var(--menu-background);
	color: var(--menu-text);
}

.nav-item .nav-link:hover {
	color: var(--menu-text-hover);
	border-bottom: solid 3px;
	border-bottom-color: var(--watermelon);
}

.nav-item .nav-link.active {
/* 	color: var(--watermelon); */
	background-color: var(--menu-background);
	border-bottom: solid 3px;
	border-bottom-color: var(--watermelon);
}

.nav-link, .dropdown-item {
	color: var(--menu-text);
}

.dropdown-menu {
	background-color: var(--menu-background);
	border: solid 1px var(--carbon);
}

.dropdown-item {
	font-size: 14px;
	font-weight: bold;
	color: var(--menu-text);
}

.dropdown-item:hover {
	font-size: 14px;
	font-weight: bold;
	color: var(--menu-text-hover);
	border-bottom: solid 3px;
	border-bottom-color: var(--watermelon);
	background-color: var(--menu-background);
}

#dropdownProfileMenuButton {
	background-color: transparent;
	
}

#dropdownProfileMenuButton:focus {
	outline: 0;
	box-shadow: none;
}