<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 class="uppercase" th:text="#{main.sims}">Sims</h3>
    
    <div th:replace="fragments/message :: message"></div>
    
    <div th:replace="fragments/filter/filter :: add-and-filter-wrapper('/sim/new', sim-filter-options)"></div>
    
    <table id="sim-table" class="table table-sm">
      <thead>
        <tr>
          <th th:text="#{imeiNumber}">IMEI</th>
          <th th:text="#{sim.pin}">Pin</th>
          <th th:text="#{sim.puk}">Puk</th>
          <th th:text="#{status}">Status</th>
        </tr>
      </thead>
      <tbody id="content-body" class="table-striped">
        <tr th:each="sim : ${sims}">
          <td name="imei" th:text="${sim.imei}"></td>
          <td th:text="${sim.pin}"></td>
          <td th:text="${sim.puk}"></td>
          <td th:text="${sim.status}"></td>
        </tr>
      </tbody>
      <tbody id="no-result-body" th:classappend="${#lists.isEmpty(sims)} ? '' : collapse">
        <tr>
          <th colspan="4" class="text-center" th:text="#{noResult}">No result</th>
        </tr>
      </tbody>
      <tbody id="no-element-body" th:classappend="${#lists.isEmpty(sims)} ? '' : 'collapse'">
        <tr>
          <th colspan="4" th:text="#{noElement}">No element</th>
        </tr>
      </tbody>
    </table>
    
    <script src="/js/sim/simAll.js"></script>

  </div>

</body>
</html>