<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{main.invoices}">Invoices</h3>
    
    <div th:replace="fragments/message :: messages"></div>
    
      <form method="post">
      
      <table class="table table-sm">
        <thead>
          <tr class="table-primary" >
            <th th:classappend="${#lists.isEmpty(groups)} ? 'collapse' : ''">
              <input id="select-all" type="checkbox" title="Select all" th:title="#{profile.selectAll}" onclick="selectAll()" />
            </th>
            <th th:text="#{phoneNumber}">Phone number</th>
            <th th:text="#{period}" class="text-center">Period</th>
            <th th:text="#{invoice.grossAmount}" class="text-right">Gross amount</th>
            <th id="action-col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="groupedFeeItems : ${groups}" >
            <td>
              <input th:id="'p' + ${groupedFeeItems.id}" name="id" type="hidden" th:value="${groupedFeeItems.id}" />
              <input name="invoiceNumber" type="hidden" th:value="${groupedFeeItems.invoice.invoiceNumber}" />
              <input name="numberCheckBox" type="checkbox" onclick="selectSingleCheckbox(this)"/>
            </td>
            <td name="number" th:text="${groupedFeeItems.subscription.number}"></td>
            <td th:text="${groupedFeeItems.getPeriod()}" class="text-center"></td>
            <td th:text="${#numbers.formatDecimal(groupedFeeItems.userGrossAmount, 1, 2)} + ' Ft'" class="text-right"></td>
            <td class="text-right">
              <div >
                <button type="button" onclick="acceptOneInvoice(this)" class="btn btn-success"
                  th:if="${not groupedFeeItems.acceptedByUser}" th:text="#{button.accept}"> 
                </button>
                <button type="submit" th:formaction="'/profile/invoice/' + ${groupedFeeItems.id}" 
                  class="btn btn-primary" th:text="#{button.details}">
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody name="no-element-body" th:classappend="${#lists.isEmpty(groups)} ? '' : 'collapse'">
            <tr>
              <th colspan="4" th:text="#{noElement}">No element</th>
            </tr>
          </tbody>
      </table>
      <button id="accept-all-selected" type="button" onclick="acceptAllSelectedInvoice()" class="btn btn-primary" style="visibility: hidden;" th:text="#{button.acceptAllSelected}">Accept all selected</button>
      </form>
      
    <script src="/js/profile/invoiceSummary.js"></script>

  </div>


</body>
</html>