<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{invoiceDetails}">Invoice details</h3>
      
      <h4 class="uppercase" th:text="#{invoiceSummary}">Invoice summary</h4>
      
      <form method="post">
        <div class="row my-2">
          <div class="col-2" th:text="#{phoneNumber}">Phone number</div>
          <div class="col-2 text-right" th:text="${invoicePart.subscription.number}">201234567</div>
        </div>
        <div class="row my-2">
          <div class="col-2" th:text="#{invoice.periodBegin}">Period begin</div>
          <div class="col-2 text-right" th:text="${invoicePart.beginDate}">2020.01.10</div>
        </div>
        <div class="row my-2">
          <div class="col-2" th:text="#{invoice.periodEnd}">Period ends</div>
          <div class="col-2 text-right" th:text="${invoicePart.endDate}">2020.01.31</div>
        </div>
        <div class="row my-2">
          <div class="col-2" th:text="#{invoice.grossAmount}">Gross amount</div>
          <div class="col-2 text-right" th:text="${#numbers.formatDecimal(invoicePart.userGrossAmount, 1, 2)} + ' Ft'">0 Ft</div>
        </div>
      
      <h4 class="uppercase" th:text="#{invoiceDetails}">Invoice details</h4>
      
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th th:text="#{description}">Description</th>
            <th th:text="#{period}" class="text-center">Period</th>
            <th class="text-right" th:text="#{invoice.grossAmount}">Gross amount</th>
            <th class="text-center" th:if="${not invoicePart.acceptedByUser}" th:text="#{reviewNote}">Review note</th>
          </tr>
        </thead>
        <tbody>
          <tr name="fee" th:each="feeItem : ${invoicePart.feeItems}">
            <td th:text="${feeItem.description}"></td>
            <td th:text="${feeItem.getPeriod()}" class="text-center"></td>
            <td class="text-right" th:text="${#numbers.formatDecimal(feeItem.userGrossAmount, 1, 2)} + ' Ft'"></td>
            <td th:if="${not invoicePart.acceptedByUser}">
              <input type="text" class="form-control form-control-sm" th:name="${feeItem.id}" oninput="modifyNotes()" />
            </td>
          </tr>
        </tbody>
      </table>
      <label th:text="#{reviewNoteForEntireInvoice}">Review note for entire invoice</label>
      <textarea th:if="${not invoicePart.acceptedByUser}" class="form-control mb-2" name="textarea" oninput="modifyNotes()"></textarea>
      
      <div class="text-right">
        <button id="reviewBtn" type="submit" th:formaction="'/profile/invoice/' + ${invoicePart.id} + '/revision'" class="btn btn-primary" th:if="${not invoicePart.acceptedByUser}" disabled="disabled" th:text="#{button.askForReview}">Ask for review</button>
        <a class="btn btn-primary" href="/profile/invoice" th:text="#{button.back}"></a>
      </div>
      </form>

  <script src="/js/profile/invoiceDetails.js"></script>

  </div>


</body>
</html>