<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2>Finance history</h2>
      <form method="post">
      
      <div th:if="${#lists.isEmpty(invoiceParts)}" class="my-border text-center">
        <b>You don't have any historical invoice</b>
      </div>
      
      <table th:unless="${#lists.isEmpty(invoiceParts)}" class="table table-sm table-hover">
        <thead>
          <tr>
            <th>
              <label>Number</label>
            </th>
            <th>
              <label>Period</label>
            </th>
            <th>
              <label>Gross amount</label>
            </th>
            <th> 
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="invoicePart, i : ${invoiceParts}">
            <td name="number" th:text="${invoicePart.subscription.number}"></td>
            <td th:text="${invoicePart.getPeriod()}"></td>
            <td th:text="${invoicePart.userGrossAmount}"></td>
            <td>
              <div class="btn-group">
                <button type="submit" th:formaction="'/profile/finance/' + ${invoicePart.id} + '/view'" class="btn btn-info"  style="color: black;">Details</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </form>
      
  </div>


</body>
</html>