<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2>Finance details</h2>
      
      <form method="post">
        <div class="row my-2">
          <div class="col-2">Number</div>
          <div class="col-2" th:text="${invoicePart.subscription.number}" style="text-align: right;">201234567</div>
        </div>
        <div class="row my-2">
          <div class="col-2">Begin</div>
          <div class="col-2" th:text="${invoicePart.beginDate}" style="text-align: right;">2020.01.10</div>
        </div>
        <div class="row my-2">
          <div class="col-2">End</div>
          <div class="col-2" th:text="${invoicePart.endDate}" style="text-align: right;">2020.01.31</div>
        </div>
        <div class="row my-2">
          <div class="col-2">Total gross amount</div>
          <div class="col-2" th:text="${invoicePart.userGrossAmount} + ' Ft'" style="text-align: right;">1000</div>
        </div>
      
      <table class="table table-sm table-hover">
        <thead>
          <tr class="table-info">
            <th>
              <label>Category</label>
            </th>
            <th>
              <label>Description</label>
            </th>
            <th>
              <label>Period</label>
            </th>
            <th>
              <label>Gross amount</label>
            </th>
            <th th:if="${not invoicePart.acceptedByUser}">
              <label>Revision note</label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr name="fee" th:each="fee : ${invoicePart.fees}">
            <td th:text="${fee.category}"></td>
            <td th:text="${fee.description}"></td>
            <td th:text="${fee.getPeriod()}"></td>
            <td th:text="${fee.userGrossAmount} + ' Ft'"></td>
            <td th:if="${not invoicePart.acceptedByUser}">
              <input type="text" class="form-control" th:name="${fee.id}" placeholder="Enter your note" oninput="modifyNotes()" />
            </td>
          </tr>
        </tbody>
      </table>
      <textarea th:if="${not invoicePart.acceptedByUser}" class="form-control mb-2" name="textarea" placeholder="Enter your note for entiry invoice" oninput="modifyNotes()"></textarea>
      
      <div class="btn-group">
        <button id="revisionBtn" type="submit" th:formaction="'/profile/finance/' + ${invoicePart.id} + '/revision'" class="btn btn-warning" th:if="${not invoicePart.acceptedByUser}" style="visibility: hidden; ">Ask for revision</button>
        <a class="btn btn-primary" href="/profile/finance" th:text="#{button.back}"></a>
      </div>
      </form>

  <script src="/js/profile/financeDetails.js"></script>

  </div>


</body>
</html>