<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2>Finances</h2>
      <form method="post">
      
      <div th:if="${#lists.isEmpty(invoicePerNumbers)}" class="my-border text-center">
        <b>You don't have any pending invoice</b>
      </div>
      
      <table th:unless="${#lists.isEmpty(invoicePerNumbers)}" class="table table-sm table-hover">
        <thead>
          <tr>
            <td>
              <input id="select-all" type="checkbox" title="Select all" onclick="selectAll()" />
            </td>
            <th>
              <label>Number</label>
            </th>
            <th>
              <label>Period</label>
            </th>
            <th>
              <label>Gross amount</label>
            </th>
            <th id="action-col">
              <label>Actions</label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="invoicePerNumber, i : ${invoicePerNumbers}">
            <td>
              <input name="number" type="hidden" th:value="${invoicePerNumber.number}" />
              <input name="numberCheckBox" type="checkbox" onclick="selectSingleCheckbox(this)"/>
            </td>
            <td th:text="${invoicePerNumber.number}"></td>
            <td th:text="${invoicePerNumber.getPeriod()}"></td>
            <td th:text="${invoicePerNumber.grossAmount}"></td>
            <td>
              <div class="btn-group">
                <button type="button" onclick="acceptOneInvoice(this)" class="btn btn-success" style="color: black;">Accept</button>
                <button type="submit" th:formaction="'/profile/finance/' + ${invoicePerNumber.number}" class="btn btn-info"  style="color: black;">Details</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button id="accept-all-selected" type="button" onclick="acceptAllSelected()" class="btn btn-primary" style="visibility: hidden;">Accept all selected</button>
      </form>
      
    <script src="/js/financeSummary.js"></script>

  </div>


</body>
</html>