<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{profile.subscriptionsAndDevices}">Subscription and devices</h3>
    
      <h4 class="uppercase" th:text="#{main.subscriptions}">Subscriptions</h4>
      <div th:if="${#lists.isEmpty(subscriptions)}" class="text-center my-border">
        <b>You don't have any subscriptions</b>
      </div>
      
      <table th:unless="${#lists.isEmpty(subscriptions)}" id="subscriptions-table" class="table table-sm table-hover">
        <thead>
          <tr>
            <th th:text="#{subscription.phoneNumber}">Number</th>
            <th th:text="#{subscription.imei}">IMEI</th>
            <th th:text="#{subscription.device}">Device</th>
            <th>Period</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="subscription : ${subscriptions}">
            <td th:text="${subscription.number}"></td>
            <td th:text="${subscription.imei}"></td>
            <td th:text="${subscription.deviceName}"></td>
            <td th:text="${subscription.getPeriod()}"></td>
          </tr>
        </tbody>
      </table>

    <br />

    <h4 class="uppercase" th:text="#{main.devices}">Devices</h4>
      <div th:if="${#lists.isEmpty(devices)}" class="text-center my-border">
        <b>You don't have any devices</b>
      </div>
      <table th:unless="${#lists.isEmpty(devices)}" id="devices-table" class="table table-sm table-hover">
        <thead>
          <tr>
            <th th:text="#{device.serialNumber}">Serial number</th>
            <th th:text="#{device.typeName}">Type Name</th>
            <th th:text="#{device.subscription}">Subscription</th>
            <th>From</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="device : ${devices}">
            <td th:text="${device.serialNumber}"></td>
            <td th:text="${device.typeName}"></td>
            <td th:text="${device.number}"></td>
          </tr>
        </tbody>
      </table>

  </div>


</body>
</html>