<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">
  
  
    <div class="center">
    
      <h2 th:text="#{profile.changePassword}">Change password</h2>
      
      <div class="my-border">
        <form action="/profile/changePassword" method="post" id="form">
          <div class="row mb-1">
            <div class="col">
              <label th:text="#{profile.oldPassword}">Old password</label>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <input type="password" class="form-control" id="old-password" name="old-password" required="required" />
            </div>
          </div>
          
          <div class="row mb-1">
            <div class="col">
              <label th:text="#{profile.newPassword}">New password</label>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <input type="password" class="form-control" id="new-password" name="new-password" required="required" />
            </div>
          </div>
          <div class="row mb-1">
            <div class="col">
              <label th:text="#{profile.confirmNewPassword}">Confirm new password</label>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password" required="required" />
            </div>
          </div>
          <button  class="btn btn-primary" onClick="return samePassword(this)" >Save</button>
        </form>
      </div>
    </div>

    <script th:inline="javascript">
          //<![CDATA[
          function samePassword(btn) {
        	  var n1 = document.getElementById('new-password');
        	  var n2 = document.getElementById('confirm-new-password');
        	  if(n1.value != n2.value) {
        		  var err = document.getElementById('err');
        		  err.style.display = null;
        		  err.innerHTML = 'Two password are different';
        		  return false;
        	  }
        	  btn.submit();
          }
          
          //]]>
        </script>

  </div>


</body>
</html>