<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">
  
  
    <div class="center">
    
      <h2 th:text="#{profile.changePassword}">Change password</h2>
      
      <div class="my-border">
        <form action="/profile/changePassword" method="post" id="form">
            <div class="form-group">
              <label th:text="#{profile.oldPassword}">Old password</label>
              <input type="password" class="form-control" id="old-password" name="old-password" required="required" />
            </div>
          
            <div class="form-group">
              <label th:text="#{profile.newPassword}">New password</label>
              <input type="password" class="form-control" id="new-password" name="new-password" required="required" oninput="newPswCheck()" />
          </div>
            <div class="form-group">
              <label th:text="#{profile.confirmNewPassword}">Confirm new password</label>
              <input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password" required="required" oninput="newPswCheck()" />
              <small id="error" style="color: red; display: none" th:text="'Two password are different!'"></small>
            </div>
          <button class="btn btn-primary" th:text="#{button.save}" disabled="disabled">Save</button>
        </form>
      </div>
      
    </div>

    <script src="/js/profile/passwordChange.js"></script>



  </div>


</body>
</html>