<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{profile.subscriptionsAndDevices}">Subscription and devices</h3>
    
      <h4 class="uppercase" th:text="#{main.subscriptions}">Subscriptions</h4>
      
      <table id="subscriptions-table" class="table table-sm table-hover">
        <thead>
          <tr>
            <th th:text="#{phoneNumber}">Number</th>
<!--             <th th:text="#{imeiNumber}">IMEI</th> -->
<!--             <th th:text="#{device}">Device</th> -->
            <th th:text="#{period}">Period</th>
          </tr>
        </thead>
        <tbody id="content-body">
          <tr th:each="subscription : ${subscriptions}">
            <td th:text="${subscription.number}"></td>
<!--             <td th:text="${subscription.imei}"></td> -->
<!--             <td th:text="${subscription.deviceName}"></td> -->
            <td th:text="${subscription.getPeriod()}"></td>
          </tr>
        </tbody>
        <tbody id="no-element-body" th:classappend="${#lists.isEmpty(subscriptions)} ? '' : 'collapse'">
          <tr>
            <th colspan="2" th:text="#{noElement}">No element</th>
          </tr>
        </tbody>
      </table>

    <br />

    <h4 class="uppercase" th:text="#{main.devices}">Devices</h4>
      <table id="devices-table" class="table table-sm table-hover">
        <thead>
          <tr>
            <th th:text="#{device.serialNumber}">Serial number</th>
            <th th:text="#{device.typeName}">Type Name</th>
<!--             <th th:text="#{device.subscription}">Subscription</th> -->
            <th th:text="#{period}">Period</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="device : ${devices}">
            <td th:text="${device.serialNumber}"></td>
            <td th:text="${device.typeName}"></td>
<!--             <td th:text="${device.number}"></td> -->
            <td th:text="${device.getPeriod()}"></td>
          </tr>
        </tbody>
        <tbody id="no-element-body" th:classappend="${#lists.isEmpty(devices)} ? '' : 'collapse'">
          <tr>
            <th colspan="2" th:text="#{noElement}">No element</th>
          </tr>
        </tbody>
      </table>

  </div>


</body>
</html>