<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  
  <div th:fragment="add-and-filter-wrapper(href ,filterOptionsName)" class="my-2">
    <div>
      <a th:unless="${#strings.startsWith(href,'/')}" href="#add-wrapper" class="btn btn-primary collapsed" data-toggle="collapse" role="button" aria-expanded="false" th:text="#{button.new}">New</a>
      <a th:if="${#strings.startsWith(href,'/')}" th:href="${href}" class="btn btn-primary" th:classappend="${disabled}" th:text="#{button.new}">New</a>
      <a href="#filter-options-wrapper" class=" btn btn-primary collapsed" data-toggle="collapse" role="button" aria-expanded="false" th:text="#{button.searchPanel}">SearchPanel</a>
    </div>
    
    <div th:unless="${#strings.startsWith(href,'/')}" id="add-wrapper" class="collapse">
      <div th:replace=" :: ${href}"></div>
      
    </div>
    
    <div id="filter-options-wrapper" class="collapse">
      <h4 th:text="#{button.search}">Search</h4>
      <div th:replace=" :: ${filterOptionsName}"></div>
      <div th:replace=" :: filter-button-group"></div>
    </div>
  </div>
  
  <div th:fragment="invoice-upload">
    <form action="/invoice/fileUpload" method="post" enctype="multipart/form-data">
      <h4 th:text="#{invoice.uploadInvoice}">Invoice upload</h4>
      <label for="fileBtn" th:text="#{invoice.selectAnInvoice} + ': '">Select an invoice: </label> <input type="file" id="file" name="file"
        accept=".xml" onchange="selectFile(this)" style="display: none"
      /> <input type="button" id=fileBtn onclick="browseFile()" class="btn btn-primary"
        th:value="#{invoice.browse} + '...'"
      /> <label id="fileName" th:text="#{invoice.noFileSelected}">No file selected</label> <input type="submit"
        class="btn btn-primary" th:value="#{button.add}"
      />
    </form>
  </div>

  <div th:fragment="invoice-filter-options" id="filter-options-content">
    <div>
      <label for="invoice-number" th:text="#{invoice.invoiceNumber}">Invoice number</label>
      <input id="invoice-number" type="text" class="form-control" />
    </div>
    <div>
      <label for="begin-date" th:text="#{invoice.periodBegin}">Period begin</label>
      <input id="begin-date" type="date" onchange="filterDateSet(this)" class="form-control" />
    </div>
    <div>
      <label for="end-date" th:text="#{invoice.periodEnd}">Period end</label>
      <input id="end-date" type="date" onchange="filterDateSet(this)" class="form-control" />
    </div>
  </div>

  <div th:fragment="user-filter-options" id="filter-options-content">
    <div>
      <label for="email" th:text="#{email}">Email</label> <input id="email" type="text" class="form-control" />
    </div>
    <div>
      <label for="fullName" th:text="#{fullName}">Full name</label> <input id="fullName" type="text" class="form-control" />
    </div>
  </div>

  <div th:fragment="subscription-filter-options" id="filter-options-content">
    <div>
      <label for="number" th:text="#{phoneNumber}">Number</label> <input id="number"
        type="text" class="form-control"
      />
    </div>
    <div>
      <label for="imei" th:text="#{imeiNumber}">IMEI number</label> <input id="imei" type="text" class="form-control" />
    </div>
    <div>
      <label for="userName" th:text="#{login.username}">User name</label> <input id="userName"
        type="text" class="form-control"
      />
    </div>
  </div>

  <div th:fragment="sim-filter-options" id="filter-options-content">
    <div>
      <label for="imei" th:text="#{imeiNumber}">IMEI number</label> <input id="imei" type="text" class="form-control" />
    </div>
  </div>

  <div th:fragment="device-filter-options" id="filter-options-content">
    <div>
      <label for="serialNumber" th:text="#{device.serialNumber}">Serial number</label> <input id="serialNumber" type="text"
        class="form-control"
      />
    </div>
    <div>
      <label for="typeName" th:text="#{device.typeName}">Type name</label> <input id="typeName" type="text" class="form-control" />
    </div>
    <div>
      <label for="userName" th:text="#{user}">User</label> <input id="userName" type="text" class="form-control" />
    </div>
  </div>
  
  <div th:fragment="device-type-filter-options" id="filter-options-content">
    <div>
      <label for="name" th:text="#{name}">Name</label> <input id="name" type="text"
        class="form-control"
      />
    </div>
    <div>
      <label for="brand" th:text="#{deviceType.brand}">Brand</label> <input id="brand" type="text"
        class="form-control"
      />
    </div>
    <div>
      <label for="model" th:text="#{deviceType.model}">Model</label> <input id="model" type="text"
        class="form-control"
      />
    </div>
    <div>
      <label for="status" th:text="#{deviceType.status}">Status</label>
        <select id="status" class="form-control">
          <option value="all" th:text="#{deviceType.filter.all}">All</option>
          <option value="active" th:text="#{deviceType.filter.active}">Active</option>
          <option value="archived" th:text="#{deviceType.filter.archived}">Archived</option>
        </select>
      </div>
  </div>

  <div th:fragment="filter-button-group">
    <div class="my-2">
      <input type="button" class="btn btn-primary" value="Search" th:value="#{button.search}" onclick="filter()" />
      <input type="button" class="btn btn-primary" value="Clear" th:value="#{button.clear}" onclick="clearFilter()"
      />
    </div>
  </div>


</body>
</html>