<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

      <div th:fragment="category-all">
        <h4 th:text="#{category.categories}">Category</h4>
      
        <div class="row my-3">
        <div class="col-3">
          <select id="selectedCategory" name="selectedCategory" onchange="selectCategory(this)" class="form-control">
            <option value="0" th:text="#{createNewOrChooseCategory}"></option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
        </div>
        <div class="col-3">
          <input type="text" id="categoryName" name="categoryName" class="form-control" required="required"/>
        </div>
          <button type="button" id="categoryBtn" class="btn btn-primary" th:text="#{button.save}" onclick="addOrModifyCategory(this)">Save</button>
        </div>
      </div>
      
      
      
<!--       <div th:fragment="category-all"> -->
<!--         <h4 th:text="#{category.categories}">Category</h4> -->
        
<!--         <div class="row my-1" th:each="category : ${categories}"> -->
<!--           <div class="col-4"> -->
<!--             <label th:text="${category.name}"></label> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="row my-1"> -->
<!--           <div class="col-4"> -->
<!--             <form action="/finance/category/add" th:object="${add}" method="post"> -->
<!--               <input type="text" class="form-control mb-2" id="add" name="add" -->
<!--                 placeholder="Enter new category" required="required" -->
<!--               /> -->
<!--               <button type="submit" class="btn btn-primary" th:text="#{button.add}">Add</button> -->
<!--             </form> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->

  </div>



</body>
</html>