<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{chargeRatio.newChargeRatio}">New charge ratio</h3>

    <form action="/finance/chargeRatio/new" method="post" th:object="${chargeRatio}">
      <div class="row mb-5">
        <div class="col-2">
          <label th:text="#{chargeRatio.name}">Name</label>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" id="name" name="name" th:value="*{name}" required="required" />
        </div>
      </div>
      
      
      <button type="submit" id="saveButton" class="btn btn-primary" th:text="#{button.save}">Save</button>
      <a href="/invoiceConfiguration/main?active=charge-ratio" class="btn btn-primary" th:text="#{button.back}">Back</a>
    </form>

  </div>


</body>
</html>