<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{chargeRatio.newChargeRatio}">New charge ratio</h3>

    <form action="/finance/chargeRatio/new" method="post" th:object="${chargeRatio}">
      <div class="row mb-5">
        <div class="col-2">
          <label th:text="#{chargeRatio.name}">Name</label>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" id="name" name="name" th:value="*{name}" required="required" />
        </div>
      </div>
      
      <table id="table" class="table table-sm table-hover" style="width: 500px">
        <thead>
          <tr>
            <th th:text="#{chargeRatio.category}">Category</th>
            <th class="text-center" colspan="2" th:text="#{chargeRatio.company}">Company</th>
            <th></th>
            <th class="text-center" colspan="2" th:text="#{chargeRatio.user}">User</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      
      <div id="category-adder" th:if="${unusedCategories != null and not #lists.isEmpty(unusedCategories)}" class="form-group form-inline">
        <select id="selectUnusedCategory" class="form-control">
          <option th:each="unusedCategory : ${unusedCategories}" th:text="${unusedCategory.name}"
            th:value="${unusedCategory.id}"
          ></option>
        </select>
        <button type="button" th:text="#{button.add}" class="btn btn-sm btn-primary ml-2"
          onclick="addCategory()"
        ></button>
      </div>
      
      <div class="form-check">
        <input id="confirmSelect" type="checkbox" class="form-check-input"
          onclick="clickOnConfirmButton()" disabled="disabled"
        /> <label for="confirmSelect" th:text="#{chargeRatio.confirmChargeRatioSettings}">Confirm categories settings!</label>
      </div>
      
      <button type="submit" id="saveButton" class="btn btn-primary" th:text="#{button.save}" disabled="disabled">Save</button>
      <a href="/invoiceConfigure/main" class="btn btn-primary" th:text="#{button.back}">Back</a>
    </form>

    <script src="/js/chargeRatioByCategory.js"></script>

  </div>


</body>
</html>