<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{chargeRatio.editChargeRatio}">Edit charge ratio</h3>

    <form th:action="'/finance/chargeRatio/' + ${chargeRatio.id}" method="post" th:object="${chargeRatio}" >
      <div class="row mb-3">
        <div class="col-2">
          <label th:text="#{chargeRatio.name}">Name</label>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" id="name" name="name" th:value="*{name}"
            readonly="readonly"
          />
        </div>
      </div>
      
      <br />

      <table id="table" class="table table-sm table-hover" style="width: 500px">
        <thead>
          <tr>
            <th th:text="#{chargeRatio.category}">Category</th>
            <th class="text-center" colspan="2" th:text="#{chargeRatio.company}">Company</th>
            <th></th>
            <th class="text-center" colspan="2" th:text="#{chargeRatio.user}">User</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category, i : ${chargeRatio.getOrderedCategories()}">
            <td class="align-middle">
              <label th:text="${category.name}"></label>
              <input type="hidden" name="category" th:value="${category.id}" />
            </td>
            <td style="width: 4em;">
              <label th:id="companyPercent + ${i.count}" class="form-check-label">0</label>
              <label>%</label>
            </td>
            <td class="align-middle text-center">
            <input type="radio" th:id="company + ${i.count}" th:name="radio + ${i.count}" th:onclick="|clickOnRadioButton('company', ${i.count})|" />
            </td>
            <td class="align-middle">
              <input type="range" class="form-control-range"
                th:id="ratio + ${i.count}" name="ratio" min="0" max="100" step="5"
                th:value="${chargeRatio.categoryRatioMap.get(category)}"
                th:oninput="|setRangeInput(${i.count})|"
            /></td>
            <td class="align-middle text-center">
              <input type="radio" th:id="user + ${i.count}" th:name="radio + ${i.count}" th:onclick="|clickOnRadioButton('user', ${i.count})|"
            /></td>
            <td style="width: 4em;">
              <label th:id="userPercent + ${i.count}" class="form-check-label">0</label>
              <label>%</label>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="category-adder" th:if="${unusedCategories != null and not #lists.isEmpty(unusedCategories)}" class="form-group form-inline">
        <select id="selectUnusedCategory" class="form-control">
          <option th:each="unusedCategory : ${unusedCategories}" th:text="${unusedCategory.name}"
            th:value="${unusedCategory.id}"
          ></option>
        </select>
        <button type="button" th:text="#{button.add}" class="btn btn-sm btn-primary"
          onclick="addCategory()"
        ></button>
      </div>

      <div class="form-check">
        <input id="confirmSelect" type="checkbox" class="form-check-input"
          onclick="clickOnConfirmButton()" checked="checked"
        /> <label for="confirmSelect" th:text="#{chargeRatio.confirmChargeRatioSettings}">Confirm charge ratio settings!</label>
      </div>


      <button type="submit" id="saveButton" class="btn btn-primary" th:text="#{button.save}">Save</button>
      <a href="/invoiceConfiguration/main" class="btn btn-primary" th:text="#{button.back}">Back</a>


    </form>

    <script src="/js/chargeRatioByCategory.js"></script>


  </div>


</body>
</html>