<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div th:fragment="description-category-coupler-all">

      <h4 th:text="#{descCatCoupler.invoiceDescriptionAndCategoryCouplers}">Invoice description and category couplers</h4>

        <a class="btn btn-primary mb-2" href="/invoiceConfiguration/descriptionCategoryCoupler/new" th:text="#{button.new}">New</a>
        <div th:if="${#lists.isEmpty(couplers)}">
          <label th:text="#{descCatCoupler.thereIsNoCoupler}">There is no coupler</label>
        </div>
        <div th:unless="${#lists.isEmpty(couplers)}">

          <table class="table table-sm">
            <thead>
              <tr>
                <th th:text="#{name}">Name</th>
                <th th:text="#{availability}">Availability</th>
                <th></th>
              </tr>
            </thead>
            <tr th:each="coupler : ${couplers}">
              <td th:text="${coupler.name}"></td>
              <td th:text="#{__${coupler.availability.key}__}"></td>
              <td class="text-right">
                <div>
                  <a th:href="'/invoiceConfiguration/descriptionCategoryCoupler/' + ${coupler.id}"
                    class="btn btn-primary" th:text="#{button.edit}"
                  >Edit</a>
                </div>
              </td>
            </tr>
          </table>
      </div>
    </div>


  </div>



</body>
</html>