<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

      <h3 th:text="#{descCatCoupler.newInvoiceDescriptionAndCategoryCoupler}">New invoice description category coupler</h3>

      <form action="/invoiceConfiguration/descriptionCategoryCoupler/new" method="post">
      <div class="container">
        <div class="row my-2">
          <div class="col-1 ">
            <label for="name" th:text="#{name}">Name</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="name" name="name" th:value="${coupler.name}"/>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-right">
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
            <a href="/invoiceConfiguration/main?active=description-category-coupler" class="btn btn-primary" th:text="#{button.back}"></a>
          </div>
        </div>
      </div>
      </form>
      

  </div>

</body>
</html>