<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{main.configurations}">Configuration</h3>
    
    <div>
      <div class="btn-group my-2">
        <a href="#category" class="btn btn-sm btn-primary" data-toggle="collapse" role="button" aria-expanded="false" onclick="test(this)" th:text="#{category.categories}">Categories</a>
        <a href="#description-category-coupler" class="btn btn-sm btn-primary" data-toggle="collapse" role="button" aria-expanded="false" onclick="test(this)" th:text="#{descCatCoupler.descriptionCategoryCouplers}">Description category couplers</a>
        <a href="#charge-ratio" class="btn btn-sm btn-primary" data-toggle="collapse" role="button" aria-expanded="false" onclick="test(this)" th:text="#{chargeRatio.chargeRatios}">Charge ratios</a>
        <a href="#participant" class="btn btn-sm btn-primary" data-toggle="collapse" role="button" aria-expanded="false" onclick="test(this)" th:text="#{participant.participants}">Participants</a>
      </div>
      
<!--       <div id="category" th:classappend="${active == 'category'} ? '' : collapse" th:insert="/invoice_config_templates/category :: category-all"></div> -->
<!--       <div id="description-category-coupler" th:classappend="${active == 'description-category-coupler'} ? '' : collapse" th:insert="/invoice_config_templates/invoiceDescriptionCategoryCouplerAll :: description-category-coupler-all"></div> -->
<!--       <div id="charge-ratio" th:classappend="${active == 'charge-ratio'} ? '' : collapse" th:insert="/invoice_config_templates/chargeRatioByCategoryAll :: charge-ratio-all"></div> -->
<!--       <div id="participant" th:classappend="${active == 'participant'} ? '' : collapse" th:insert="/invoice_config_templates/participantAll :: participant-all"></div> -->
      
      <div id="category" class="collapse" th:insert="/invoice_config_templates/category :: category-all"></div>
      <div id="description-category-coupler" class="collapse" th:insert="/invoice_config_templates/invoiceDescriptionCategoryCouplerAll :: description-category-coupler-all"></div>
      <div id="charge-ratio" class="collapse" th:insert="/invoice_config_templates/chargeRatioByCategoryAll :: charge-ratio-all"></div>
      <div id="participant" class="collapse" th:insert="/invoice_config_templates/participantAll :: participant-all"></div>
    </div>

  <script src="/js/invoiceConfigure/invoiceConfigure.js"></script>

  </div>



</body>
</html>