<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{participant.editParticipant}">Edit participant</h3>

    <div class="container">
      <input type="hidden" id="id" name="id" th:value="*{participant.id}" />
      <div class="row my-2">
        <div class="col-2">
          <label th:text="#{participant.name}">Name</label>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" id="name" name="name" th:value="${participant.name}"
            readonly="readonly"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-2">
          <label th:text="#{participant.address}">Address</label>
        </div>
        <div class="col-4">
          <input type="text" id="address" name="address" th:value="${participant.address}" class="form-control"
            readonly="readonly"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-2">
          <label th:text="#{participant.descCatCoupler}">Description category coupler</label>
        </div>
        <div class="col-4">
          <select class="form-control"  id="descriptionCategoryCoupler" name="descriptionCategoryCoupler">
            <option th:each="descriptionCategoryCoupler : ${descriptionCategoryCouplers}"
              th:value="${descriptionCategoryCoupler.id}"
              th:text="${descriptionCategoryCoupler.name}"
            ></option>
          </select>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-6">
          <a href="/invoiceConfiguration/main" class="btn btn-primary" th:text="#{button.back}"></a>
        </div>
      </div>
    </div>


  </div>



</body>
</html>