<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{participant.editParticipant}">Edit participant</h3>

    <form th:object="${participant}" method="post" id="form">
      <div class="row my-2">
        <div class="col-2">
          <label th:text="#{name}">Name</label>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" id="name" name="name" th:value="${participant.name}"
            readonly="readonly"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-2">
          <label th:text="#{participant.address}">Address</label>
        </div>
        <div class="col-4">
          <input type="text" id="address" name="address" th:value="${participant.address}" class="form-control"
            readonly="readonly"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-2">
          <label th:text="#{participant.descCatCoupler}">Description category coupler</label>
        </div>
        <div class="col-4">
          <select class="form-control" id="descriptionCategoryCoupler" name="descriptionCategoryCoupler">
            <option th:each="descriptionCategoryCoupler : ${descriptionCategoryCouplers}"
              th:value="${descriptionCategoryCoupler.id}"
              th:text="${descriptionCategoryCoupler.name}"
              th:selected="${participant.descriptionCategoryCoupler.id} == ${descriptionCategoryCoupler.id}"
            ></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-right">
          <button type="submit" id="button" class="btn btn-primary"
            th:formaction="'/invoiceConfiguration/participant/' + ${participant.id}"
            th:text="#{button.save}"
          >Save</button>
          <a href="/invoiceConfiguration/main?active=participant" class="btn btn-primary" th:text="#{button.back}"></a>
        </div>
      </div>
      </form>


  </div>



</body>
</html>