<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">
  
    <div th:fragment="participant-all">
      <h4 class="uppercase">Participants</h4>

      <a href="/finance/participant/new" class="btn btn-sm btn-primary">Add</a>

      <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="participant : ${participants}">
            <td th:text="${participant.name}"></td>
            <td th:text="${participant.address}"></td>
            <td><a class="btn btn-sm btn-primary"
              th:href="'/finance/participant/' + ${participant.id}"
            >Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>



</body>
</html>