<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">
  
    <div th:fragment="participant-all">
      <h4 th:text="#{participant.participants}">Participants</h4>

      <a href="/invoiceConfiguration/participant/new" class="btn btn-primary mb-2" th:text="#{button.new}">New</a>

      <table class="table table-sm">
        <thead>
          <tr>
            <th th:text="#{name}">Name</th>
            <th th:text="#{participant.address}">Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="participant : ${participants}">
            <td th:text="${participant.name}"></td>
            <td th:text="${participant.address}"></td>
            <td class="text-right"><a class="btn btn-primary"
              th:href="'/invoiceConfiguration/participant/' + ${participant.id}" th:text="#{button.edit}"
            >Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>



</body>
</html>