<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>
  <div layout:fragment="loginContent">

    <h3 th:text="#{deviceType.newDeviceType}">New device type</h3>

    <div th:replace="fragments/message :: messages"></div>

    <form th:object="${deviceType}" method="post" if="form">
      <div class="form-group">
        <label class="form-control-label" for="autoNameGeneration" th:text="#{deviceType.autoNameGeneration}">Auto name generation:</label> <input type="checkbox"
          id="autoNameGeneration" checked="checked" onclick="autoNameGenerattionChange()"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label" for="name" th:text="#{name}">Name</label> <input type="text"
          class="form-control" id="name" name="name" readonly="readonly" required="required"
        />
        </div>
      <div class="form-group">
        <label class="form-control-label" for="brand" th:text="#{deviceType.brand}">Brand</label> <input list="brands" id="brand"
          name="brand" class="form-control" oninput="nameAutoComplete()" required="required"
        />
        <datalist id="brands">
          <option th:each="brandItem : ${brandList}" th:value="${brandItem}"></option>
        </datalist>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="model" th:text="#{deviceType.model}">Model</label> <input type="text" id="model" name="model"
          class="form-control" oninput="nameAutoComplete()" required="required"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label" for="visible" th:text="#{visible}">Visible</label> <input type="checkbox" id="visible"
          name="visible" checked="checked"
        />
      </div>
      <div class="row">
       <div  class=" col text-right">
        <button type="submit" class="btn btn-primary" formaction="/deviceType/new" th:text="#{button.save}">Save</button>
        <a href="/deviceType/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
       </div>
      </div>
        
    </form>
    
    <script src="/js/deviceType/deviceTypeNew.js"></script>


  </div>
</body>
</html>