<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>
  <div layout:fragment="loginContent">

    <h3 th:text="#{deviceType.editDeviceType}">Device type edit</h3>
    
     <div th:replace="fragments/message :: messages"></div>

    <form th:action="'/deviceType/' + ${deviceType.id} + '/update'" method="post" th:object="${deviceType}" id="form">
        <div class="form-group">
        <label class="form-control-label" for="name" th:text="#{name}">Name</label> <input type="text"
          class="form-control" id="name" name="name" th:value="*{name}" readonly="readonly"
          />
        </div>
      <div class="form-group">
        <label class="form-control-label" for="brand" th:text="#{deviceType.brand}">Brand</label> <input id="brand"
          name="brand" th:value="*{brand}" class="form-control" readonly="readonly"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label" for="model" th:text="#{deviceType.model}">Model</label> <input type="text" id="model" name="model" th:value="*{model}"
          class="form-control" readonly="readonly"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label" for="visible" th:text="#{visible}">Visible</label> <input type="checkbox" id="visible"
          name="visible" th:checked="*{visible}"
        />
      </div>
      <div class="row">
        <div class="col text-right">
          <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
          <a href="/deviceType/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
        </div>
      </div>
    </form>



  </div>
</body>
</html>