<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{main.deviceTypes}">Device types</h3>
    
    <div th:replace="fragments/filter/filter :: add-and-filter-wrapper('/deviceType/new', device-type-filter-options)"></div>
    

    <table class="table table-sm table-hover mt-3" id="device-type-table">
      <thead>
        <tr>
          <th th:text="#{deviceType.brand}">Brand</th>
          <th th:text="#{deviceType.model}">Model</th>
          <th th:text="#{name}">Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="deviceType, i : ${deviceTypes}" th:id="${i.count}">
          <td name="visible" th:text="${deviceType.visible}" style="display: none;"></td>
          <td name="brand" th:text="${deviceType.brand}"></td>
          <td name="model" th:text="${deviceType.model}"></td>
          <td name="name" th:text="${deviceType.name}"></td>
          <td class="text-right"><a class="btn btn-primary" th:href="'/deviceType/' + ${deviceType.id} + '/update'" th:text="#{button.edit}"
            >Edit</a>
          </td>
        </tr>
      </tbody>
    </table>

    <script src="/js/deviceType/deviceTypeAll.js"></script>

  </div>

</body>
</html>