<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>
  <div id="menu" th:fragment="menu" class="navbar navbar-expand my-menu">
    <div sec:authorize="isAuthenticated()" class="navbar-nav">
      <ul class="nav">
        <li sec:authorize="hasAnyAuthority('USER_MNGR','ADMIN')" class="nav-item"><a
          class="nav-link" th:classappend="${title} == 'User' ? 'active' :''" href="/user/all"
          th:text="#{main.users}"
        >Users</a></li>
        <li sec:authorize="hasAnyAuthority('SUBSCRIPTION_MNGR','ADMIN')" class="nav-item"><a
          class="nav-link" th:classappend="${title} == 'Subscription' ? 'active' :''"
          href="/subscription/all" th:text="#{main.subscriptions}"
        >Subscriptions</a></li>
        <li sec:authorize="hasAnyAuthority('SUBSCRIPTION_MNGR','ADMIN')" class="nav-item"><a
          class="nav-link" th:classappend="${title} == 'Sim' ? 'active' :''" href="/sim/all"
          th:text="#{main.sims}"
        >Sims</a></li>
        <li sec:authorize="hasAnyAuthority('DEVICE_MNGR','ADMIN')" class="nav-item"><a
          class="nav-link" th:classappend="${title} == 'Device' ? 'active' :''" href="/device/all"
          th:text="#{main.devices}"
        >Devices</a></li>
        <li sec:authorize="hasAnyAuthority('DEVICE_MNGR','ADMIN')" class="nav-item"><a
          class="nav-link" th:classappend="${title} == 'DeviceType' ? 'active' :''"
          href="/deviceType/all" th:text="#{main.deviceTypes}"
        >Device types</a></li>
        <li sec:authorize="hasAnyAuthority('FINANCE_MNGR','ADMIN')" class="nav-item dropdown" th:classappend="${title} == 'Invoice' ? 'active' :''"><a class="nav-link dropdown-toggle"
          data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{main.invoices}">Invoices</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/invoice/all" th:text="#{main.invoices}">Invoices</a>
             <a class="dropdown-item" href="/invoiceConfiguration/main" th:text="#{main.configurations}">Configurations</a>
          </div>
         </li>
      </ul>
    </div>
    <div class="ml-auto mr-3">
      <div sec:authorize="isAuthenticated()" class="form-inline">
        <label class="mr-1" th:text="${#authentication.getPrincipal().getFullName()}">Full names</label>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownProfileMenuButton" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img th:alt="#{profile.profile}" src="/img/settings-male.png" style="height: 25px"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="position: absolute; left: -140px; top: 40px">
            <a class="dropdown-item" href="/profile/invoice" th:text="#{main.invoices}">Invoices</a>
            <a class="dropdown-item" href="/profile/subscriptionAndDevice" th:text="#{profile.subscriptionsAndDevices}">Subscriptions and devices</a>
            <a class="dropdown-item" href="/profile/changePassword" th:text="#{profile.changePassword}">Change password</a>
          </div>
        </div>
        <a th:href="@{/logout}">
          <img alt="Logout" src="/img/logout.png" style="height: 25px" />
        </a>
      </div>
    </div>
    <div class="navbar-nav mr-3">
      <span>
        <a href="?lang=hu_HU" th:classappend="${locale == 'HU'} ? 'disabled': ''">HU</a> 
        <a href="?lang=en_GB" th:classappend="${locale == 'GB'} ? 'disabled': ''">EN</a>
      </span>
    </div>
  </div>
</body>
</html>