<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

  <div th:fragment="message" th:unless="${#lists.isEmpty(messages)}">
    <div th:if="${success}" class="alert alert-success" th:text="${success}">Succes</div>
    <div th:if="${warning}" class="alert alert-warning" th:text="${warning}">Warning</div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}">Error</div>
    
    <div th:each="message : ${messages}">
      <div class="alert" th:classappent="${message.type}" th:text="${message.text}"></div>
    </div>
  </div>

</body>
</html>