<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

      <h2>Invoice details</h2>

      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceNumber}">Invoice number</label></div>
        <div class="col-2"><label th:text="${invoice.invoiceNumber}">Invoice number</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.fromDate}">From</label></div>
        <div class="col-2"><label th:text="${invoice.beginDate}">From date</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.emdDate}">To</label></div>
        <div class="col-2"><label th:text="${invoice.endDate}">End date</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceNetAmount}">Net amount</label></div>
        <div class="col-2"><label th:text="${invoice.invoiceNetAmount} + ' Ft'">Net amount</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceTaxAmount}">Tax amount</label></div>
        <div class="col-2"><label th:text="${invoice.invoiceTaxAmount} + ' Ft'">Tax amount</label></div>
      </div>
    

      <table class="table table-sm table-hover">
        <tr>
          <th>User</th>
          <th>Subscription</th>
          <th>Description</th>
          <th>Period</th>
          <th>Total gross</th>
          <th>User gross</th>
          <th>Comp. gross</th>
          <th></th>
        </tr>
        <th:block th:each="partOfInvoice : ${invoice.invoicePart}">
          <tr th:id="'part' + ${partOfInvoice.id}" th:classappend="${partOfInvoice.hasAnyRevisionNote() ? 'hasRevisionNote' : ''}">
            <th th:text="${partOfInvoice?.user?.fullName}"></th>
            <th colspan="2" th:text="${partOfInvoice?.subscription?.number}"></th>
            <th th:text="${partOfInvoice.getPeriod()}"></th>
            <th th:text="${#numbers.formatDecimal(partOfInvoice.totalGrossAmount, 1, 2)}"></th>
            <th name="userGrossAmount" th:text="${#numbers.formatDecimal(partOfInvoice.userGrossAmount, 1, 1)}"></th>
            <th name="compGrossAmount" th:text="${#numbers.formatDecimal(partOfInvoice.companyGrossAmount, 1, 2)}"></th>
            <td>
              <button class="btn btn-sm btn-info" onclick="show_details(this)">More</button>
<!--               <button th:if="${partOfInvoice.revisionNote != null}" name="downArrowBtn" class="btn btn-sm btn-info" onclick="show_revision_note(this)"> -->
<!--                 <img src="/img/down-arrow.png" alt="down-arrow"/> -->
<!--               </button> -->
            </td>
          </tr>
          <tr th:if="${partOfInvoice.revisionNote != null}" style="border-top-style: hidden;">
            <td th:id="'revisionNote' + ${partOfInvoice.id}" colspan="8" class="hasRevisionNote" th:text="${partOfInvoice.revisionNote}"></td>
          </tr>
          <th:block th:each="feeItem : ${partOfInvoice.fees}" >
          <tr th:name="'feeItem' + ${partOfInvoice.id}" style="visibility: collapse" th:classappend="${feeItem.hasRevisionNote() ? 'hasRevisionNote' : ''}">
            <td><input name="id" type="hidden" th:value="${feeItem.id}"/></td>
            <td name="subscription" th:text="${feeItem?.subscription}"></td>
            <td name="description" th:text="${feeItem.description}"></td>
            <td name="period" th:text="${feeItem.getPeriod()}"></td>
            <td name="totalGrossAmount" th:text="${feeItem.totalGrossAmount}"></td>
            <td name="userGrossAmount" th:text="${feeItem.userGrossAmount}"></td>
            <td name="compGrossAmount" th:text="${feeItem.companyGrossAmount}"></td>
            <td name="buttons" width="85px" th:style="${partOfInvoice.acceptedByCompany or partOfInvoice.user == null} ? 'visibility:hidden'">
              <div id="prepareEditingButton">
                <button type="button" class="btn btn-sm btn-primary" onclick="prepare_editing(this)">
                  <img alt="Edit" src="/img/edit.png">
                </button>
              </div>
              <div id="acceptOrCancelEditingButton" style="display: none" class="btn-group">
                <button type="button" class="btn btn-sm btn-success" onclick="accept_editing(this)">
                  <img alt="Accept" src="/img/checkmark.png">
                </button><button type="button" class="btn btn-sm btn-danger" onclick="cancel_editing(this)">
                  <img alt="Cancel" src="/img/cross.png">
                </button>
              </div>
<!--               <button th:if="${feeItem.revisionNote != null}" class="btn btn-sm btn-info" onclick="show_revision_note(this)"> -->
<!--                 <img src="/img/down-arrow.png" alt="down-arrow"/> -->
<!--               </button> -->
            </td>
          </tr>
          <tr th:if="${feeItem.revisionNote != null}" th:name="'feeItem' + ${partOfInvoice.id}" style="visibility: collapse;border-top-style: hidden;" >
            <td colspan="8" th:id="'feeRevisionNote' + ${feeItem.id}" class="hasRevisionNote" th:text="${feeItem.revisionNote}">
            </td>
          </tr>
          </th:block>
        </th:block>
      </table>
      
      <a href="/invoice/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
      
    <script src="/js/invoiceDetails.js"></script>
    
    
  </div>


</body>
</html>