<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{main.invoices}">Invoices</h3>

    <div
      th:replace="fragments/filter/filter :: add-and-filter-wrapper(invoice-upload, invoice-filter-options)"
    ></div>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <div>
      <h4 th:text="#{rawInvoices}">Raw invoices</h4>

      <form method="post">
        <table id="raw-invoice-table" class="table table-sm">
          <thead>
            <tr>
              <th th:text="#{invoice.invoiceNumber}">Invoice number</th>
              <th class="text-center" th:text="#{invoice.periodBegin}">Period begin</th>
              <th class="text-center" th:text="#{invoice.periodEnd}">Period end</th>
              <th class="text-right" th:text="#{invoice.netAmount}">Net amount</th>
              <th class="text-right" th:text="#{invoice.grossAmount}">Gross amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody name="content-body">
            <tr th:each="rawInvoice : ${rawInvoices}"
              th:id="'invoiceNumber' + ${rawInvoice.invoiceNumber}"
            >
              <td name="invoiceNumber" th:text="${rawInvoice.invoiceNumber}"></td>
              <td class="text-center" name="beginDate" th:text="${rawInvoice.beginDate}"></td>
              <td class="text-center" name="endDate" th:text="${rawInvoice.endDate}"></td>
              <td class="text-right" th:text="${rawInvoice.netAmount} + ' Ft'"></td>
              <td class="text-right" th:text="${rawInvoice.grossAmount} + ' Ft'"></td>
              <td class="text-right"><a th:if="${rawInvoice.hasProblem()}" href="#"
                class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false"
              ><b>...</b></a>
                <div class="dropdown-menu">
                  <button type="submit" class="dropdown-item btn"
                    th:formaction="'/rawInvoice/' + ${rawInvoice.invoiceNumber} + '/restartProcessing'"
                    th:text="#{button.restartProcessing}"
                  >Restart processing</button>
                  <span class="dropdown-item" th:each="problem : ${rawInvoice.getProblems()}"
                    th:text="${problem}"
                  ></span>
                  <button type="button" class="dropdown-item btn" onclick="sendRawRemove(this)"
                    th:text="#{button.delete}"
                  >Delete</button>
                </div></td>
            </tr>
          </tbody>
          <tbody name="no-element-body"
            th:classappend="${#lists.isEmpty(rawInvoices)} ? '' : 'collapse'"
          >
            <tr>
              <th colspan="6" th:text="#{noElement}">No element</th>
            </tr>
          </tbody>
        </table>
      </form>
    </div>



    <div>

      <h4 th:text="#{invoices}">Invoices</h4>

      <table id="invoice-table" class="table table-sm">
        <thead>
          <tr>
            <th th:text="#{invoice.invoiceNumber}">Invoice number</th>
            <th class="text-center" th:text="#{invoice.periodBegin}">Period begin</th>
            <th class="text-center" th:text="#{invoice.periodEnd}">Period end</th>
            <th class="text-right" th:text="#{invoice.netAmount}">Net amount</th>
            <th class="text-right" th:text="#{invoice.grossAmount}">Gross amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody name="content-body">
          <tr th:id="'invoiceNumber' + ${invoice.invoiceNumber}" th:each="invoice : ${invoices}"
            th:classappend="${invoice.hasAnyReviewNote() ? 'hasReviewNote' : ''}"
          >
            <td name="invoiceNumber" th:text="${invoice.invoiceNumber}"></td>
            <td class="text-center" name="beginDate" th:text="${invoice.beginDate}"></td>
            <td class="text-center" name="endDate" th:text="${invoice.endDate}"></td>
            <td class="text-right" th:text="${invoice.netAmount}  + ' Ft'"></td>
            <td class="text-right" th:text="${invoice.grossAmount}  + ' Ft'"></td>
            <td class="text-right">
              <button name="acceptBtn" th:unless="${invoice.acceptedByCompany}" type="button" class="btn btn-success"
                onclick="acceptInvoiceByCompany(this)" th:text="#{button.accept}"
              ></button>
              <a th:href="'/invoice/' + ${invoice.invoiceNumber} + '/details'"
                class="btn btn-primary" th:text="#{button.details}"
                ></a>
              <button name="deleteBtn" th:if="${invoice.canDelete()}" type="button" class="btn btn-danger"
                onclick="deleteInvoice(this)" th:text="#{button.delete}"
              ></button>
            </td>
          </tr>
        </tbody>
        <tbody name="no-result-body" class="collapse">
          <tr>
            <td colspan="6" th:text="#{noResult}">No result</td>
          </tr>
        </tbody>
        <tbody name="no-element-body" th:classappend="${#lists.isEmpty(invoices)} ? '' : 'collapse'">
          <tr>
            <th colspan="6" th:text="#{noElement}">There aren't any elements</th>
          </tr>
        </tbody>
      </table>
    </div>


    <script src="/js/invoice/invoiceAll.js"></script>



  </div>
</body>
</html>