<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{main.invoices}">Invoices</h3>

    <div
      th:replace="fragments/filter/filter :: add-and-filter-wrapper(invoice-upload, invoice-filter-options)"
    ></div>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <div>
      <h4 th:text="#{rawInvoices}">Raw invoices</h4>
    
      <form method="post">
        <table id="raw-invoice-table" class="table table-sm">
          <thead>
            <tr>
              <th th:text="#{invoice.invoiceNumber}">Invoice number</th>
              <th th:text="#{invoice.from}">From</th>
              <th th:text="#{invoice.to}">To</th>
              <th th:text="#{invoice.invoiceNetAmount}">Net amount</th>
              <th th:text="#{invoice.invoiceGrossAmount}">Gross amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody name="content-body">
            <tr th:each="rawInvoice : ${rawInvoices}"
              th:id="'invoiceNumber' + ${rawInvoice.invoiceNumber}"
            >
              <td name="invoiceNumber" th:text="${rawInvoice.invoiceNumber}"></td>
              <td name="beginDate" th:text="${rawInvoice.beginDate}"></td>
              <td name="endDate" th:text="${rawInvoice.endDate}"></td>
              <td th:text="${rawInvoice.invoiceNetAmount}"></td>
              <td th:text="${rawInvoice.invoiceGrossAmount}"></td>
              <td class="text-right"><a th:if="${rawInvoice.hasProblem()}" href="#"
                class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false"
              >...</a>
                <div class="dropdown-menu">
                  <button type="submit" class="dropdown-item"
                    th:formaction="'/invoice/' + ${rawInvoice.invoiceNumber} + '/restartProcessing'"
                    th:text="#{button.restartProcessing}"
                  >Restart processing</button>
                  <span class="dropdown-item" th:each="problem : ${rawInvoice.getProblems()}"
                    th:text="${problem}"
                  ></span>
                  <button type="button" class="dropdown-item" onclick="sendRawRemove(this)"
                    th:text="#{button.delete}"
                  >Delete</button>
                </div></td>
            </tr>
          </tbody>
          <tbody name="no-element-body" th:classappend="${#lists.isEmpty(rawInvoices)} ? '' : 'collapse'">
            <tr>
              <th colspan="6" th:text="#{noElement}">No element</th>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <h4 th:text="#{invoices}">Invoices</h4>

<!--     <div th:if="${#lists.isEmpty(invoices)}" class="my-border text-center"> -->
<!--       <b>There aren't any invoices</b> -->
<!--     </div> -->

<!--     <div th:unless="${#lists.isEmpty(invoices)}"> -->
    <div>
      <form method="post">
        <table id="invoice-table" class="table table-sm">
          <thead>
            <tr>
              <th th:text="#{invoice.invoiceNumber}">Invoice number</th>
              <th th:text="#{invoice.from}">From</th>
              <th th:text="#{invoice.to}">To</th>
              <th th:text="#{invoice.invoiceNetAmount}">Net amount</th>
              <th th:text="#{invoice.invoiceGrossAmount}">Gross amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="invoice : ${invoices}"
              th:classappend="${invoice.hasAnyRevisionNote() ? 'hasRevisionNote' : ''}"
            >
              <td name="invoiceNumber" th:text="${invoice.invoiceNumber}"></td>
              <td name="beginDate" th:text="${invoice.beginDate}"></td>
              <td name="endDate" th:text="${invoice.endDate}"></td>
              <td th:text="${invoice.invoiceNetAmount}"></td>
              <td th:text="${invoice.invoiceGrossAmount}"></td>
              <td class="text-right">
                <button th:unless="${invoice.hasProblem() or invoice.acceptedByCompany}"
                  type="submit" class="btn btn-sm btn-success"
                  th:formaction="'/invoice/' + ${invoice.invoiceNumber} + '/accept'"
                  th:title="#{button.accept}"
                >
                  <img alt="Accept" src="/img/checkmark.png">
                </button> <a th:unless="${invoice.hasProblem()}"
                th:href="'/invoice/' + ${invoice.invoiceNumber} + '/details'"
                class="btn btn-sm btn-primary"
              > <img th:alt="#{button.details}" src="/img/list.png" />
              </a>
                <div class="btn-group">
                  <button type="submit" class="btn btn-sm btn-warning"
                    th:formaction="'/invoice/' + ${invoice.invoiceNumber} + '/restartProcessing'"
                  >
                    <img alt="refresh" src="/img/refresh.png" />
                  </button>
                  <button th:if="${invoice.canDelete()}" type="submit" class="btn btn-sm btn-danger"
                    th:formaction="'/invoice/' + ${invoice.invoiceNumber} + '/delete'"
                    th:title="#{button.delete}"
                  >
                    <img alt="Delete" src="/img/trash.png" />
                  </button>
                </div> <img th:if="${invoice.hasProblem()}" alt="Problem" src="/img/problem.png"
                th:title="${invoice.getProblem()}" style="height: 20px;"
              />
              </td>
            </tr>
          </tbody>
          <tbody name="no-result-body" th:unless="${#lists.isEmpty(invoices)}" class="collapse">
           <tr>
             <td colspan="6" th:text="#{noResult}">No result</td>
           </tr>
          </tbody>
          <tbody name="no-element-body" th:if="${#lists.isEmpty(invoices)}">
            <tr class="">
              <th colspan="6" th:text="#{noElement}">There aren't any elements</th>
            </tr>
          </tbody>
        </table>
      </form>
    </div>


    <script src="/js/invoiceAll.js"></script>



  </div>
</body>
</html>