<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="container">

      <h2>Invoice details</h2>

      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceNumber}">Invoice number</label></div>
        <div class="col-2"><label th:text="${invoice.invoiceNumber}">Invoice number</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.fromDate}">From</label></div>
        <div class="col-2"><label th:text="${invoice.beginDate}">From date</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.emdDate}">To</label></div>
        <div class="col-2"><label th:text="${invoice.endDate}">End date</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceNetAmount}">Net amount</label></div>
        <div class="col-2"><label th:text="${invoice.invoiceNetAmount} + ' Ft'">Net amount</label></div>
      </div>
      <div class="row my-2">
        <div class="col-2"><label th:text="#{bill.invoiceTaxAmount}">Tax amount</label></div>
        <div class="col-2"><label th:text="${invoice.invoiceTaxAmount} + ' Ft'">Tax amount</label></div>
      </div>
    

      <table class="table table-sm">
        <tr>
          <th>User</th>
          <th>Subscription</th>
          <th>Description</th>
          <th>Begin</th>
          <th>End</th>
          <th>Total gross</th>
          <th>User gross</th>
          <th>Comp. gross</th>
          <th></th>
        </tr>
        <span th:each="partOfInvoice : ${invoice.invoicePart}">
          <tr>
            <td colspan="5" th:text="${partOfInvoice?.user?.fullName}"></td>
            <td th:text="${#numbers.formatDecimal(partOfInvoice.totalGrossAmount, 0, 2)}"></td>
            <td th:text="${partOfInvoice.userGrossAmount}"></td>
            <td></td>
          </tr>
          <tr th:each="feeItem : ${partOfInvoice.fees}">
            <td><input name="id" type="hidden" th:value="${feeItem.id}"/></td>
            <td name="subscription" th:text="${feeItem?.subscription}"></td>
            <td name="description" th:text="${feeItem.description}"></td>
            <td name="beginDate" th:text="${feeItem.beginDate}"></td>
            <td name="endDate" th:text="${feeItem.endDate}"></td>
            <td name="totalGrossAmount" th:text="${feeItem.totalGrossAmount}"></td>
            <td name="userGrossAmount" th:text="${feeItem.userGrossAmount}"></td>
            <td name="compGrossAmount" th:text="${feeItem.companyGrossAmount}"></td>
<!--             <td><button type="button" class="btn btn-primary" onclick="set_modal(this)" -->
<!--               data-target="#edit" data-backdrop="static" data-toggle="modal" -->
<!--                ><img alt="Edit" src=""></button> -->
<!--             </td> -->
            <td name="buttons" width="85px">
              <div id="prepareEditingButton">
                <button type="button" class="btn btn-sm btn-primary" onclick="prepare_editing(this)">
                  <img alt="Edit" src="/img/edit.png">
                </button>
              </div>
              <div id="acceptOrCancelEditingButton" style="display: none" class="btn-group">
                <button type="button" class="btn btn-sm btn-success" onclick="accept_editing(this)">
                  <img alt="Accept" src="/img/checkmark.png">
                </button><button type="button" class="btn btn-sm btn-danger" onclick="cancel_editing(this)">
                  <img alt="Cancel" src="/img/cross.png">
                </button>
              </div>
            </td>
          </tr>
        </span>
      </table>
    </div>
    
    <script src="/js/invoiceDetails.js"></script>
    
    
  </div>


</body>
</html>