<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2>Invoices</h2>
    
    <div th:replace="fragments/filter/filter :: add-and-filter-wrapper(invoice-upload, invoice-filter-options)"></div>
    
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <h4>Invoice tables</h4>
    <div th:if="${#lists.isEmpty(rawInvoices)}" class="my-border text-center">
      <b>There aren't any raw invoices</b>
    </div>

    <div th:unless="${#lists.isEmpty(rawInvoices)}">
      <form method="post">
        <table id="raw-invoice-table" class="table table-sm">
          <thead>
            <tr>
              <th th:text="#{bill.invoiceNumber}">Invoice number</th>
              <th th:text="#{bill.fromDate}">From</th>
              <th th:text="#{bill.emdDate}">To</th>
              <th th:text="#{bill.invoiceNetAmount}">Net amount</th>
              <th th:text="#{bill.invoiceGrossAmount}">Gross amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="rawInvoice : ${rawInvoices}">
              <td name="invoiceNumber" th:text="${rawInvoice.invoiceNumber}"></td>
              <td th:text="${rawInvoice.beginDate}"></td>
              <td th:text="${rawInvoice.endDate}"></td>
              <td th:text="${rawInvoice.invoiceNetAmount}"></td>
              <td th:text="${rawInvoice.invoiceGrossAmount}"></td>
              <td><a th:if="${rawInvoice.hasProblem()}" href="#" class="dropdown" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"
              >...</a>
                <div class="dropdown-menu">
                  <form method="post">
                    <button type="submit" class="dropdown-item" th:formaction="'/invoice/' + ${rawInvoice.invoiceNumber} + '/restartProcessing'">Reprocess</button>
                    <span class="dropdown-item" th:each="problem : ${rawInvoice.getProblems()}" th:text="${problem}"></span>
                  </form>
                </div
              ></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>


    <div th:if="${#lists.isEmpty(invoices)}" class="my-border text-center">
      <b>There aren't any invoices</b>
    </div>

    <div th:unless="${#lists.isEmpty(invoices)}">
      <form method="post">
        <table id="invoice-table" class="table table-sm">
          <thead>
            <tr>
              <th th:text="#{bill.invoiceNumber}">Invoice number</th>
              <th th:text="#{bill.fromDate}">From</th>
              <th th:text="#{bill.emdDate}">To</th>
              <th th:text="#{bill.invoiceNetAmount}">Net amount</th>
              <th th:text="#{bill.invoiceGrossAmount}">Gross amount</th>
              <th></th>
            </tr>
          </thead>
          <tr th:each="invoice : ${invoices}"
            th:classappend="${invoice.hasAnyRevisionNote() ? 'hasRevisionNote' : ''}"
          >
            <td name="invoiceNumber" th:text="${invoice.invoiceNumber}"></td>
            <td name="beginDate" th:text="${invoice.beginDate}"></td>
            <td name="endDate" th:text="${invoice.endDate}"></td>
            <td th:text="${invoice.invoiceNetAmount}"></td>
            <td th:text="${invoice.invoiceGrossAmount}"></td>
            <td>
              <button th:unless="${invoice.hasProblem() or invoice.acceptedByCompany}" type="submit"
                class="btn btn-sm btn-success"
                th:formaction="'/invoice/' + ${invoice.invoiceNumber} + '/accept'"
                th:title="#{button.accept}"
              >
                <img alt="Accept" src="/img/checkmark.png">
              </button> <a th:unless="${invoice.hasProblem()}"
              th:href="'/invoice/' + ${invoice.invoiceNumber} + '/details'"
              class="btn btn-sm btn-primary"
            > <img th:alt="#{button.details}" src="/img/list.png" />
            </a>
              <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-warning"
                  th:formaction="'/invoice/' + ${invoice.invoiceNumber} + '/restartProcessing'"
                >
                  <img alt="refresh" src="/img/refresh.png" />
                </button>
                <button th:if="${invoice.canDelete()}" type="submit" class="btn btn-sm btn-danger"
                  th:formaction="'/invoice/' + ${invoice.invoiceNumber} + '/delete'"
                  th:title="#{button.delete}"
                >
                  <img alt="Delete" src="/img/trash.png" />
                </button>
              </div> <img th:if="${invoice.hasProblem()}" alt="Problem" src="/img/problem.png"
              th:title="${invoice.getProblem()}" style="height: 20px;"
            />
            </td>
          </tr>
        </table>
      </form>
    </div>
    <!--       <input type="hidden" id="template_id" name="template_id" /> -->



    <script src="/js/invoiceAll.js"></script>
    


  </div>
</body>
</html>