<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <h2>Splitted invoice</h2>
      
      <div th:each="m : ${userFeeMap}">
        <div class="row my-1">
          <div class="col-3" th:text="${m.key.fullName}"></div>
          <div class="col-3" th:text="${m.key.email}"></div>
        </div>
        <table class="table">
          <tr>
            <th>Subscription</th>
            <th>Description</th>
            <th>Begin</th>
            <th>End</th>
            <th>Net Amount</th>
            <th>Tax Amount</th>
            <th>Tax Percentage</th>
          </tr>
          <tr th:each="feeItem : ${m.value}">
            <td th:text="${feeItem.subscription}"></td>
            <td th:text="${feeItem.description}"></td>
            <td th:text="${feeItem.begin}"></td>
            <td th:text="${feeItem.end}"></td>
            <td th:text="${feeItem.netAmount}"></td>
            <td th:text="${feeItem.taxAmount}"></td>
            <td th:text="${feeItem.taxPercentage}"></td>
          </tr>
        </table>
      </div>

<!--       <div class="row my-2"> -->
<!--         <div class="col-2"><label th:text="#{bill.invoiceNumber}">Invoice number</label></div> -->
<!--         <div class="col-2"><label th:text="${bill.invoiceNumber}">Invoice number</label></div> -->
<!--       </div> -->
<!--       <div class="row my-2"> -->
<!--         <div class="col-2"><label th:text="#{bill.fromDate}">From</label></div> -->
<!--         <div class="col-2"><label th:text="${bill.fromDate}">From</label></div> -->
<!--       </div> -->
<!--       <div class="row my-2"> -->
<!--         <div class="col-2"><label th:text="#{bill.emdDate}">To</label></div> -->
<!--         <div class="col-2"><label th:text="${bill.endDate}">To</label></div> -->
<!--       </div> -->
<!--       <div class="row my-2"> -->
<!--         <div class="col-2"><label th:text="#{bill.invoiceNetAmount}">Net amount</label></div> -->
<!--         <div class="col-2"><label th:text="${bill.invoiceNetAmount} + ' Ft'">Net amount</label></div> -->
<!--       </div> -->
<!--       <div class="row my-2"> -->
<!--         <div class="col-2"><label th:text="#{bill.invoiceTaxAmount}">Tax amount</label></div> -->
<!--         <div class="col-2"><label th:text="${bill.invoiceTaxAmount} + ' Ft'">Tax amount</label></div> -->
<!--       </div> -->



<!--         <div class="row my-1"> -->
<!--           <div class="col-1"></div> -->
<!--           <div class="col-1 mx-1"><label>Subscription</label></div> -->
<!--           <div class="col-2 mx-1"><label>Description</label></div> -->
<!--           <div class="col-1 mx-1"><label>Begin</label></div> -->
<!--           <div class="col-1 mx-1"><label>End</label></div> -->
<!--           <div class="col-1 mx-1"><label>Net Amount</label></div> -->
<!--           <div class="col-1 mx-1"><label>Tax amount</label></div> -->
<!--         </div> -->
<!--         <div class="row my-1" th:each="fee : ${m.value}"> -->
<!--           <div class="col-1 mx-1"></div> -->
<!--           <div class="col-1 mx-1"><label th:text="${fee.subscription}">${fee.subscription}</label></div> -->
<!--           <div class="col-2 mx-1"><label th:text="${fee.description}">description</label></div> -->
<!--           <div class="col-1 mx-1"><label th:text="${fee.begin}">v</label></div> -->
<!--           <div class="col-1 mx-1"><label th:text="${fee.end}">end</label></div> -->
<!--           <div class="col-1 mx-1"><label th:text="${fee.netAmount} + ' Ft'">netAmount</label></div> -->
<!--           <div class="col-1 mx-1"><label th:text="${fee.taxAmount} + ' Ft'">Tax amount</label></div> -->
<!--         </div> -->


    </div>


  </div>



</body>
</html>