<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="center">

      <h3 th:text="#{login.login}">Login</h3>

      <div th:replace="fragments/message :: messages"></div>

      <form name="login" th:action="@{/login}" method="post" class="form-signin">

        <div class="row">
          <div class="col ">
            <label for="username" th:text="#{email}" class="required">Email address</label>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
<!--             <input type="text" id="username" name="username" class="form-control" required="required" /> -->
            <input type="text" id="username" name="username" class="form-control"
               required="required" value="admin@gmail.com"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="password" th:text="#{login.password}" class="required">Password</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
<!--           <input type="password" id="password" name="password" class="form-control"required="required"/> -->
            <input type="password" id="password" name="password" class="form-control"
               required="required" value="admin"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary" type="submit" th:text="#{login.login}">Login</button>
            <a th:if="${hasRegBtn}" class="btn btn-primary" href="/registration" th:text="#{button.registration}">Regisztáció</a>
          </div>
          <div class="col-6 text-right">
            <a href="/requestNewPassword"><small th:text="#{login.forgotYourPassword}">Forgot
                your password?</small></a>
          </div>
        </div>

      </form>
    </div>


  </div>

</body>
</html>