<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="center">

      <h3 th:text="#{login.login}">Login</h3>

      <div th:replace="fragments/message :: message"></div>

      <form name="login" th:action="@{/login}" method="post" class="form-signin">

        <div id="err" th:if="${param.error}" class="alert alert-danger"
          th:text="#{login.usernameOrPasswordIsIncorrect}"
        >Your username or password is incorrect</div>
        <div th:if="${param.logout}" class="alert alert-success" th:text="#{login.successLogout}">Sikeresen
          kijelentkeztél</div>
        <div class="row">
          <div class="col ">
            <label for="username" th:text="#{login.email}">Email</label>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" id="username" name="username" class="form-control"
              th:placeholder="#{login.email}" required="required" value="admin"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="password" th:text="#{login.password}">Password</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="password" id="password" name="password" class="form-control"
              th:placeholder="#{login.password}" required="required" value="admin"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn btn-primary" type="submit" th:text="#{login.login}">Login</button>
          </div>
          <div class="col text-right">
            <a href="/requestNewPassword"><small th:text="#{login.forgotYourPassword}">Forgot
                your password?</small></a>
          </div>
        </div>

      </form>
    </div>


  </div>

</body>
</html>