<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{user.editUser}">Edit user</h3>
    
    <div th:replace="fragments/message :: messages"></div>
    
    <form th:object="${user}" method="post" id="form">
      <div class="container">
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{fullName}">Full name</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="fullName" name="fullName" th:value="*{fullName}"
              readonly="readonly"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{email}">Email address</label>
          </div>
          <div class="col-4">
            <input type="email" class="form-control" id="email" name="email" th:value="*{email}"
              readonly="readonly"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{role.roles}">Roles</label>
          </div>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')" class="row my-2">
          <div class="col-2">
            <label th:text="#{role.admin}">Admin</label>
          </div>
          <div class="col-2">
            <input type="checkbox" class="form-control" id="admin" name="admin" th:checked="${user.hasRole('admin')}" onclick="adminCheckboxClick(this)"/>
          </div>
        </div>
        <div id="normal-roles-wrapper">
          <div class="row my-2">
            <div class="col-2">
              <label th:text="#{role.userMngr}">User manager</label>
            </div>
            <div class="col-2">
              <input type="checkbox" class="form-control" id="user_mngr" name="user_mngr" th:checked="${user.hasRole('user_mngr')}" th:disabled="${user.hasRole('admin')}" />
            </div>
          </div>
          <div class="row my-2">
            <div class="col-2">
              <label th:text="#{role.subscriptionMngr}">Subscription manager</label>
            </div>
            <div class="col-2">
              <input type="checkbox" class="form-control" id="subscription_mngr" name="subscription_mngr" th:checked="${user.hasRole('subscription_mngr')}" th:disabled="${user.hasRole('admin')}" />
            </div>
          </div>
          <div class="row my-2">
            <div class="col-2">
              <label th:text="#{role.deviceMngr}">Device manager</label>
            </div>
            <div class="col-2">
              <input type="checkbox" class="form-control" id="device_mngr" name="device_mngr" th:checked="${user.hasRole('device_mngr')}" th:disabled="${user.hasRole('admin')}" />
            </div>
          </div>
          <div class="row my-2">
            <div class="col-2">
              <label th:text="#{role.financeMngr}">Finance</label>
            </div>
            <div class="col-2">
              <input type="checkbox" class="form-control" id="finance_mngr" name="finance_mngr" th:checked="${user.hasRole('finance_mngr')}" th:disabled="${user.hasRole('admin')}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-right">
            <button type="submit" id="button" class="btn btn-primary"
              th:formaction="'/user/' + ${user.id} + '/update'" formmethod="post"
              th:text="#{button.save}"
            >Save</button>
            <a href="/user/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
          </div>
        </div>
      </div>
    </form>
    
    <script src="/js/user/userEdit.js"></script>
    

  </div>


</body>
</html>