<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{main.users}">Users</h3>
    
    <div th:replace="fragments/filter/filter :: add-and-filter-wrapper('/user/new', user-filter-options)"></div>
    

    <table id="user-table" class="table table-sm">
      <thead>
        <tr>
          <th>Email</th>
          <th th:text="#{user.fullName}">Full name</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td name="email" th:text="${user.email}"></td>
          <td name="fullName" th:text="${user.fullName}"></td>
          <td th:text="${user.getStatusName()}"></td>
          <td class="text-right"><a th:href="'/user/' + ${user.id} + '/update'" class="btn btn-sm btn-primary" th:text="#{button.edit}">Edit</a></td>
        </tr>
      </tbody>
      <tbody>
      </tbody>
    </table>
    
    <script src="/js/user/userAll.js"></script>

  </div>


</body>
</html>