<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{user.newUser}">New user</h3>

    <div th:replace="fragments/message :: message"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:object="${user}" method="post" id="form">
      <div class="container">
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{user.fullName}">Full name</label>
          </div>
          <div class="col-4">
            <!--             <input type="text" class="form-control" id="fullName" name="fullName" th:value="*{fullName}" required="required"/> -->
            <input type="text" class="form-control" id="fullName" name="fullName"
              value="" required="required"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{user.email}">Email</label>
          </div>
          <div class="col-4">
            <!--             <input type="email" class="form-control" id="email" name="email" th:value="*{email}" required="required" /> -->
            <input type="email" class="form-control" id="email" name="email"
              value="" required="required"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="submit" id="button" class="btn btn-primary" formaction="/user/new"
              formmethod="post" th:text="#{button.save}"
            >Save</button>
            <a href="/user/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
          </div>
        </div>
      </div>
    </form>


  </div>


</body>
</html>