<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <h2>Category</h2>

      <div class="container">
        <div class="row my-1" th:each="category : ${categories}">
          <div class="col-4">
            <label th:text="${category.name}"></label>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-4">
            <form action="/finance/category/all" th:object="${add}" method="post">
              <input type="text" class="form-control mb-2" id="add" name="add" placeholder="Enter new category" required="required" />
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
        </div>
      </div>

    </div>


  </div>



</body>
</html>