<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">


      <h2>Bill partition template update</h2>
      
      <div class="container">
        <form th:action="'/finance/invoiceDescriptionCategoryCoupler/' + ${id} + '/update'" method="post">
        <div class="row my-2" th:each="description : ${descriptions}">
          <div class="col-4">
            <input type="text" class="form-control" id="description" name="description" th:value="${description}" readonly="readonly" />
          </div>
          <div class="col-2">
            <select id="category" name="category" class="form-control">
              <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/invoice/all" class="btn btn-primary" th:text="#{button.back}"></a>
        </form>
      </div>
      
      <div class="container">
        <form th:action="'/finance/invoiceDescriptionCategoryCoupler/' + ${id} + '/update'" method="post">
        <label  id="templateId" name="templateId" th:text="${templateId}"></label>
        <input type="hidden" id="templateId" name="templateId" th:value="${templateId}" />
        <div class="row my-2" th:each="description, i : ${feeDescriptions}">
          <div class="col-4">
            <label id="description" name="description" th:text="${description}"></label>
            <input type="hidden" id="description" name="description" th:value="${description}" />
          </div>
          <div class="col-2">
            <select id="category" name="category">
              <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
            </select>
          </div>
        </div>
        <input type="submit" class="btn btn-primary" th:value="#{button.save}" />
        <a href="/billing/all" class="btn btn-primary" th:text="#{button.back}"></a>
        </form>
      </div>




  </div>



</body>
</html>