<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h2 class="uppercase">Senders</h2>

    <div class="container">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sender : ${senders}">
            <td th:text="${sender.name}"></td>
            <td th:text="${sender.city}"></td>
            <td><a th:href="/finance/sender/ + 'sender.id'"></a></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>



</body>
</html>