<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>
  <div layout:fragment="loginContent">

    <h2>Device view</h2>

    <hr />
    
    <div th:replace="fragments/device :: dateSliceSelector"></div>

    <form th:object="${device}" method="post" id="form">
      <input type="hidden" id="id" name="id" th:value="*{id}" />
      <div class="container">
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{device.serialNumber}">Serial number</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="serialNumber" name="serialNumber"
              th:value="*{serialNumber}" readonly="readonly"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{device.typeName}">Type name</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="typeName" name="typeName"
              th:value="*{typeName}" readonly="readonly"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{device.user}">User</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="userName" name="userName" th:value="*{userName}"
            readonly="readonly"
          />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{device.note}">Note</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="note" name="note" th:value="*{note}" readonly="readonly"/>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{device.date}">Date</label>
          </div>
          <div class="col-4">
            <input type="date" class="form-control" id="date" name="date" th:value="*{date}" readonly="readonly" />
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-1">
          </div>
          <div class="col-1" >
            <a href="/device/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
          </div>
        </div>
      </div>
    </form>



    <script th:inline="javascript">
					//<![CDATA[
					
					function changeDate(d) {
						console.log(d.value);
						let id = document.querySelector("#id").value;
						console.log(id);
						sendData("POST", "/device/" + id + "/view", "date=" + d.value, setViewData);
						console.log("END");
					}
					
					function setViewData(data) {
						console.log("setViewData")
						document.querySelector("#userName").value = data.userName;
						document.querySelector("#note").value = data.note;
						document.querySelector("#date").value = jsonDateToString(data.date);
					}
					
					function jsonDateToString(date) {
						let inputDate = date.year + '-';
						if(date.monthValue < 10) {
							inputDate += '0';
						}
						inputDate += date.monthValue + '-';
						if(date.dayOfMonth < 10) {
							inputDate += '0';
						}
						inputDate += date.dayOfMonth;
						return inputDate
					}

					//]]>
				</script>

  </div>
</body>
</html>