<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>
  <div layout:fragment="loginContent">

    <h3 th:text="#{device.editDevice}">Device edit</h3>
    
    <div th:replace="fragments/message :: messages"></div>
    
    <form th:action="'/device/' + ${device.id} + '/update'" method="post" th:object="${device}" id="form">
      <div class="container">
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{device.serialNumber}">Serial number</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="serialNumber" name="serialNumber"
              th:value="*{serialNumber}" readonly="readonly"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{device.typeName}">Type name</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="typeName" name="typeName"
              th:value="*{typeName}" readonly="readonly"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{user}">User</label>
          </div>
          <div class="col-4">
            <select class="form-control" id="userId" name="userId" th:field="*{userId}">
              <option value="0" title="Nobody"></option>
              <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.fullName}" th:title="${user.email}"></option>
            </select>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{note}">Note</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="note" name="note" th:value="*{note}" />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <label th:text="#{date}" class="required">Date</label>
          </div>
          <div class="col-4">
            <input type="date" class="form-control" id="beginDate" name="beginDate" th:value="*{beginDate}"
              required="required" th:min="*{minDate}"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-right">
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
            <a href="/device/all" class="btn btn-primary" th:text="#{button.back}">Back</a>
          </div>
        </div>
        
      </div>
    </form>



  </div>
</body>
</html>