<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>
  <div layout:fragment="loginContent">

    <h3 class="uppercase" th:text="#{main.devices}">Devices</h3>
    
    <div th:replace="fragments/message :: messages"></div>
    
    <div th:replace="fragments/filter/filter :: add-and-filter-wrapper('/device/new', device-filter-options)"></div>

    <table id="device-table" class="table table-sm">
      <thead>
        <tr>
          <th th:text="#{device.serialNumber}">Serial number</th>
          <th th:text="#{device.typeName}">Type Name</th>
          <th th:text="#{user}">User</th>
          <th th:text="#{subscription}">Subscription</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="content-body">
        <tr th:each="device : ${devices}">
          <td name="serialNumber" th:text="${device.serialNumber}"></td>
          <td name="typeName" th:text="${device.typeName}"></td>
          <td name="userName" th:text="${device.userName}"></td>
          <td th:text="${device.number}"></td>
          <td class="text-right">
            <div >
              <a th:href="'/device/' + ${device.id} + '/update'" class="btn btn-primary"
                th:text="#{button.edit}"
              >
<!--                <img alt="edit" src="/img/edit.png" /> -->
              </a> <a th:href="'/device/' + ${device.id} + '/view'" class="btn btn-primary" th:text="#{button.view}">
<!--                 <img alt="view" src="/img/visible.png" /> -->
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody id="no-result-body" th:classappend="${#lists.isEmpty(devices)} ? '' : collapse">
        <tr>
          <th colspan="5" class="text-center" th:text="#{noResult}">No result</th>
        </tr>
      </tbody>
      <tbody id="no-element-body" th:classappend="${#lists.isEmpty(devices)} ? '' : 'collapse'">
        <tr>
          <th colspan="5" th:text="#{noElement}">No element</th>
        </tr>
      </tbody>
    </table>

    <script src="/js/device/deviceAll.js"></script>


  </div>
</body>
</html>