<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 th:text="#{main.deviceTypes}">Device Types</h3>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary" data-target="#edit" data-backdrop="static"
          data-toggle="modal" onclick="reset_modal()" th:text="#{button.new}"
          >New</button>
      </div>
      <div class="col-2">
        <select class="form-control" onchange="changeVisibilityFormSelect(this)">
          <option value="all" th:text="#{deviceType.filter.all}">All</option>
          <option value="active" selected="selected" th:text="#{deviceType.filter.active}">Active</option>
          <option value="archived" th:text="#{deviceType.filter.archived}">Archived</option>
        </select>
      </div>
    </div>
    

    

    <table class="table table-sm table-hover mt-3" id="table">
      <thead>
        <tr>
          <th th:text="#{deviceType.brand}">Brand</th>
          <th>Model</th>
          <th th:text="#{deviceType.name}">Name</th>
          <th>SIM number</th>
          <th>Has MicroSD slot</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="deviceType, i : ${deviceTypes}" th:id="${i.count}">
          <td th:id="visible + ${i.count}" th:text="${deviceType.visible}" style="display: none;"></td>
          <td th:id="id + ${i.count}" th:text="${deviceType.id}" style="display: none;"></td>
          <td th:id="brand + ${i.count}" th:text="${deviceType.brand}"></td>
          <td th:id="model + ${i.count}" th:text="${deviceType.model}"></td>
          <td th:id="name + ${i.count}" th:text="${deviceType.name}"></td>
          <td th:id="simNumber + ${i.count}" th:text="${deviceType.simNumber}"></td>
          <td th:id="microsd + ${i.count}" th:text="${deviceType.microsd}"></td>
          <td><button type="button" class="btn btn-primary" th:onclick="|set_modal(${i.count})|"
              data-target="#edit" data-backdrop="static" data-toggle="modal" th:text="#{button.edit}"
            >Edit</button>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- Modal -->
    <div class="modal " id="edit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="modalForm" action="/deviceTypes" th:object="${deviceType}" method="post">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Create device type</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
              </button>
            </div>
            <div class="modal-body">

              <input type="hidden" id="id" name="id" />
              <div class="form-group">
                <label class="form-control-label">Name:</label> <input type="checkbox"
                  id="autoNameGenerate" checked="checked" onclick="autoNameGenerateChange()"
                /> <input type="text" class="form-control" id="name" name="name" readonly="readonly"
                  required="required"
                />
              </div>

              <div class="form-group">
                <label class="form-control-label">Brand</label> <input list="brands" id="brand"
                  name="brand" class="form-control" oninput="nameAutoComplete()" required="required"
                />
                <datalist id="brands">
                  <option th:each="b : ${brandList}" th:value="${b}"></option>
                </datalist>
              </div>
              <div class="form-group">
                <label class="form-control-label">Model</label> <input type="text" id="model"
                  name="model" class="form-control" oninput="nameAutoComplete()" required="required"
                  placeholder="Model"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label">SIM number</label> <select id="simNumber"
                  name="simNumber" class="form-control" oninput="nameAutoComplete()"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-control-label">Has MicroSD slot</label> <input type="checkbox"
                  id="microsd" name="microsd"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label">Visible</label> <input type="checkbox"
                  id="visible" name="visible"
                />
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <script th:inline="javascript">
					//<![CDATA[
						
					changeVisibility('active');

					function reset_modal() {
						document.getElementById('id').value = '';
						document.getElementById('brand').value = '';
						document.getElementById('model').value = '';
						document.getElementById('name').value = '';
						document.getElementById('simNumber').value = '1';
						document.getElementById('microsd').checked = true;
						document.getElementById('visible').checked = true;
					}

					function set_modal(i) {
						document.getElementById('id').value = document.getElementById('id' + i).innerHTML;
						document.getElementById('brand').value = document.getElementById('brand' + i).innerHTML;
						document.getElementById('model').value = document.getElementById('model' + i).innerHTML;
						document.getElementById('name').value = document.getElementById('name' + i).innerHTML;
						document.getElementById('simNumber').value = document.getElementById('simNumber' + i).innerHTML;
						document.getElementById('microsd').checked = document.getElementById('microsd' + i).innerHTML == 'true';
						document.getElementById('visible').checked = document.getElementById('visible' + i).innerHTML == 'true';
					}

					function nameAutoComplete() {
						var sim = document.getElementById('simNumber').value;
						if (document.getElementById('autoNameGenerate').checked) {
							document.getElementById('name').value = document.getElementById('brand').value + ' ' + document.getElementById('model').value + ' ' + (document.getElementById('simNumber').value == '2' ? 'DS' : '');
						}
					}

					function autoNameGenerateChange() {
						var name = document.getElementById('name');
						if (document.getElementById('autoNameGenerate').checked) {
							name.readOnly = true;
							name.value = document.getElementById('brand').value + ' ' + document.getElementById('model').value + ' ' + (document.getElementById('simNumber').value == '2' ? 'DS' : '');
						} else {
							name.readOnly = false;
						}
					}
					
					function changeVisibilityFormSelect(type) {
						changeVisibility(type.value);
					}
					
					function changeVisibility(type) {
						var rows = document.getElementById('table').rows;
						var i = 1;
						for(i; i < rows.length; i++) {
							switch (type) {
							case 'all':
								if(rows[i].cells.namedItem('visible' + rows[i].id).innerHTML == 'true') {
									rows[i].style.background = '#aaffaa';
								} else {
									rows[i].style.background = '#ffaaaa';
								}
								rows[i].style.display = null;
								continue;
							case 'active':
								if(rows[i].cells.namedItem('visible' + rows[i].id).innerHTML == 'true') {
									rows[i].style.display = null;
								} else {
									rows[i].style.display = 'none';
								}
								rows[i].style.background = '';
								continue;
							case 'archived':
								if(rows[i].cells.namedItem('visible' + rows[i].id).innerHTML == 'false') {
									rows[i].style.display = null;
								} else {
									rows[i].style.display = 'none';
								}
								rows[i].style.background = '';
								continue;
							}
							
						}
						
					}
					

					//]]>
				</script>

  </div>
</body>
</html>