<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="shadow p-5 mb-5 bg-white rounded">

      <!--       <h2 th:text="#{main.greeting} + ' ' + ${user.fullName} + '!'"></h2> -->

      <br />

      <div class="container my-border">
        <div th:if="${#lists.isEmpty(subscriptions)}">
          <label th:text="#{homepage.youDontHaveAnySubscriptions}"></label>
        </div>
        <div th:unless="${#lists.isEmpty(subscriptions)}">

          <table class="table table-sm">
            <thead>
              <tr>
                <th th:text="#{subscription.phoneNumber}">Number</th>
                <th th:text="#{subscription.imei}">IMEI</th>
                <th th:text="#{subscription.user}">User</th>
                <th th:text="#{subscription.device}">Device</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="subscription : ${subscriptions}">
                <td th:text="${subscription.number}"></td>
                <td th:text="${subscription.imei}"></td>
                <td th:text="${subscription.userName}"></td>
                <td th:text="${subscription.deviceName}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container my-border">
        <div th:if="${#lists.isEmpty(devices)}">
          <label th:text="#{homepage.youDontHaveAnyDevices}"></label>
        </div>
        <div th:unless="${#lists.isEmpty(devices)}">

          <table class="table table-sm">
            <thead>
              <tr>

                <th th:text="#{device.serialNumber}">Serial number</th>
                <th th:text="#{device.typeName}">Type name</th>
                <th th:text="#{device.user}">User</th>
                <th th:text="#{device.subscription}">Subscription</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="device : ${devices}">
                <td th:text="${device.serialNumber}"></td>
                <td th:text="${device.typeName}"></td>
                <td th:text="${device.userName}"></td>
                <td th:text="${device.number}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>


  </div>
</body>
</html>