<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div class="center">
      <h3 th:text="#{forgotPassword.requestNewPassword}">Request new password</h3>
      
      <div th:replace="fragments/message :: messages"></div>
      
      <div class="form-group" >
        <label for="email" th:text="#{forgotPassword.enterYourEmail}" class="required">Enter your email address</label>
        <form id="forgot-password-form" th:action="@{/requestNewPassword}" method="post">
          <input type="text" id="email" name="email" class="form-control my-3" required="required"/>
          <button class="btn btn-primary" type="submit" th:text="#{button.send}">Send</button>
          <a class="btn btn-primary" href="/login" th:text="#{button.back}">Back</a>
        </form>
      </div>
    </div>
    
    

  </div>

</body>
</html>