<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">


    
    <div style="max-width: 400px; margin-left: auto; margin-right: auto">
      <h2 th:text="#{forgotPassword.requestNewPassword}">Request new password</h2>
      <div class="form-group my-border" >
        <label th:text="#{forgotPassword.enterYourEmail}">Enter your email address</label>
        <form id="forgot-password-form" th:action="@{/requestNewPassword}" method="post">
          <input type="text" id="email" name="username" class="form-control my-3" required="required"/>
          <button class="btn btn-primary" type="submit" th:text="#{button.send}">Send</button>
          <a class="btn btn-primary" href="/login" th:text="#{button.back}">Back</a>
        </form>
      </div>
    </div>
    
    

  </div>

</body>
</html>