<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">


    <div class="center">
    
      <h3 th:text="#{registration.createFirstAdmin}">Create first admin</h3>

      <div th:replace="fragments/message :: message"></div>

      <form name="registration" th:action="@{/registration}" th:object="${user}" method="post">
        <div class="form-group">
          <label for="fullName" th:text="#{user.fullName}" class="required">Full name</label> <input type="text" id="fullName"
            name="fullName" th:field="*{fullName}" class="form-control" required="required"
          />
        </div>
        <div class="form-group">
          <label for="email" th:text="#{user.email}" class="required">Email</label> <input type="text" id="email" name="username"
            th:field="*{email}" class="form-control" required="required"
          />
        </div>

        <button class="btn btn-primary" type="submit" th:text="#{button.create}"></button>
      </form>

    </div>

  </div>

</body>
</html>