<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
<title>Flotta</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <h3 class="uppercase" th:text="#{main.subscriptions}">Subscriptions</h3>
    
    <div th:replace="fragments/message :: messages"></div>
    
    <div th:replace="fragments/filter/filter :: add-and-filter-wrapper('/subscription/new', subscription-filter-options)"></div>
    
    <table id="subscription-table" class="table table-sm">
      <thead>
        <tr>
          <th th:text="#{phoneNumber}">Phone number</th>
          <th th:text="#{imeiNumber}">IMEI number</th>
          <th th:text="#{user}">User</th>
          <th th:text="#{device}">Device</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="content-body">
        <tr th:each="subscription : ${subscriptions}">
          <td name="number" th:text="${subscription.number}"></td>
          <td name="imei" th:text="${subscription.imei}"></td>
          <td name="userName" th:text="${subscription.userName}"></td>
          <td th:text="${subscription.deviceName}"></td>
          <td class="text-right">
            <div class="btn-group">
              <a th:href="'/subscription/' + ${subscription.id} + '/update'" class="btn btn-sm btn-primary"
                th:title="#{button.edit}"
              > <img alt="edit" src="/img/edit.png" />
              </a> <a th:href="'/subscription/' + ${subscription.id} + '/view'" class="btn btn-sm btn-primary"
                title="view"
              > <img alt="view" src="/img/visible.png" />
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody id="no-result-body" th:unless="${#lists.isEmpty(subscriptions)}" class="collapse">
        <tr>
          <th colspan="5" th:text="#{noResult}">No result</th>
        </tr>
      </tbody>
      <tbody id="no-element-body" th:if="${#lists.isEmpty(subscriptions)}">
        <tr>
          <th colspan="5" th:text="#{noElement}">No element</th>
        </tr>
      </tbody>
    </table>
    
    <script src="/js/subscription/subscriptionAll.js"></script>

  </div>

</body>
</html>